<div class="jumbotron">
	<div class="container">
		<h1>FB on Rails v1.0</h1>
		<p>Welcome to the app!</p>
		<div class="progress">
			<div class="progress-bar progress-bar-info" style="width: 30%"></div>
			<div class="progress-bar progress-bar-warning" style="width: 20%"></div>
			<div class="progress-bar progress-bar-success" style="width: 35%"></div>
			<div class="progress-bar progress-bar-danger" style="width: 15%"></div>
	</div>
</div>
</div>

<div class="container">
	
		<div class="col-md-12">
			<h3>How does it work?</h3>
			<hr>
		</div>
	


<div class="col-md-4">
			<h2>Connect with FB</h2>
			<p>Sign up or login with your FB account for easy access.</p>
</div>
<div class="col-md-4">
			<h2>Create posts</h2>
			<p>Create posts with ease in one click!</p>
</div>
<div class="col-md-4">
			<h2>Share them</h2>
			<p>Send to all your friends and family.</p>
</div>
